project_name          = "aws-static-site-platform"
environment_name      = "prod"
aws_region            = "ap-south-1"
domain_name           = "www.example.com"
hosted_zone_name      = "example.com"
hosted_zone_id        = ""
github_repo           = "Harishmaranthirumaran/Cloud-project1"
enable_waf            = true
cloudfront_price_class = "PriceClass_100"

